@model Product
<link rel="stylesheet" href="~/assets/css/main.css">
<br />
<br />
<br />
<br />
<br />



<div class="product-detail-container-single-product">
	<div class="product-image-single-product">
		<img src="@Url.Content(Model.PhotoPath)" alt="">
	</div>
	<div class="product-info-single-product">
		<h1 class="product-title-single-product">@Model.ProductName</h1>
		<div class="price-single-product">
			@if (Model.IsSale == true)
			{

				<p>Satış Fiyatı: @Model.UnitPriceForSale TL</p>
			}
			else
			{

				<p>Kiralama Fiyatı: @Model.UnitPriceForRent TL</p>
			}
		</div>
		<p>
		@if (@Model.IsAdult == true)
		{
			<p>Kategori: Yetişkin</p>
		}
		else
		{
			<p>Kategori: Çocuk</p>
		}
		</p>
		<div class="size-selection-single-product">
			<label for="size-single-product">Size:</label>
			<select id="size-single-product">
				<option value="small">Small</option>
				<option value="medium">Medium</option>
				<option value="large">Large</option>
			</select>
		</div>
		<div class="quantity-single-product">
			<button class="quantity-btn-single-product">-</button>
			<input type="number" value="1" min="1">
			<button class="quantity-btn-single-product">+</button>
		</div>
		<div class="actions-single-product">
			<button class="add-to-cart-single-product">Sepete Ekle</button>
			<button class="buy-now-single-product">Satın Al</button>
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />






<!-- loader -->


<script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>

@* <img id="dynamicPhoto" data-url="@Url.Content(Model.PhotoPath)" />

<script>
	const photoUrl = document.getElementById('dynamicPhoto').getAttribute('data-url');
	console.log(photoUrl); // Fotoğraf yolunu alır ve JavaScript'te kullanır
</script> *@