@using Mate.MVC.Models.VMs
@model List<OrderDetailsVM>
<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Siparişler</h3>

            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

    @*Order Info*@

<table class="table">
    <thead>
        <tr>
            <th>Sipariş ID</th>
            <th>Oluşturulma Tarihi</th>
            <th>Ürün Adı (Ürün Miktarı)</th>
            <th>Detay</th>
            <th>Tutar</th>
            <th>Toplam Tutar</th>
            <th>Sipariş Durumu</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <td>@item.OrderId</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.ProductName (@item.Amount)</td>
                    <td>@item.Size Beden</td>
                    @if(item.IsSale==true)
                    {
                        <td>Satın Alma @item.Price TL</td>
                    }
                    else if(item.IsSale==false)
                    {
                        <td>Kiralama @item.Price TL</td>
                    }

                    <td>@item.TotalPrice TL</td>
                    <td>@item.OrderSituation</td>
            </tr>
        }
    </tbody>
</table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
